button[title="View fullscreen"]{visibility: hidden;}
header {visibility: hidden;}
footer {visibility: hidden;}
a.viewerBadge_container__1QSob {visibility: hidden;}
.css-15zrgzn {display: none}
.css-eczf16 {display: none}
.css-jn99sy {display: none}





