button[title="View fullscreen"]{visibility: hidden;}
header {visibility: hidden;}
footer {visibility: hidden;}
.css-m70y {visibility: hidden;} 
.viewerBadge_container__1QSob {visibility: hidden;}





